@charset "UTF-8";

html, body, ul, ol{
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

.header {
  height: 300px;
  background-color: rgb(255, 241, 222);
}

.header nav {
  height: 50px;
  background-color: brown;
  
  /* display: inline; */
  line-height: 50px;
}

.menu {
  text-align: center;
}

.menu span {
  padding: 2px 10px;
  background-color: black;
  color: white;

  border: 1px solid yellow;
  border-radius: 10px;

  cursor: pointer;
}

.menu span:hover {
  background-color: red;
}

.menu-detail {
  border: 1px solid blue;
  background-color: black;
  color: #fff;
  height: 100px;
  padding-top: 20px;
}

.menu-detail ul > li:hover  {
  background-color: rgb(87, 86, 86);
}
